@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  --white: #fff;
  --light-grey: #b4b4b4;
  --dark-grey: #525252;
  --bg-color: #ffff;
  --light-burg: #ffa4e4;
  --trans-bg: rgba(255, 255, 255, 0.5);
  --box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  @include flex;
  min-height: 100vh;
  background: var(--bg-color);
  font-family: 'Open Sans', sans-serif;
}

.container {
  background: #37474F;
  height: 30rem;
  width: 30rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

.title {
  position: relative;
  color: var(--white);
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-decoration: underline 0.3rem var(--light-burg);
  text-underline-offset: 0.3rem;
}

#products-wrapper {
  position: relative;
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
}

img {
  height: 15rem;
  object-fit: cover;
}

.img-cont {
  height: 15rem;
  width: 10rem;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  transform: scale(1);
}

img {
  transform: scale(1);
  transition: transform 0.5s ease-in-out;

  &:hover {
    transform: scale(1.3);
    transition: transform 0.5s ease-in-out;
  }
}

.arrow {
  position: relative;
  margin: 0 .5rem;
  font-size: 1.5rem;
  background: transparent;
  border: none;
  z-index: 1;
  cursor: pointer;
}

.prod-items {
  display: flex;
  justify-content: left;
  align-items: center;
  overflow-x: scroll;
  flex-wrap: nowrap;

  &::-webkit-scrollbar {
    height: 0.3rem;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: var(--bg-color);
    border-radius: 1rem;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--white);
    // border-right: 15rem solid transparent;
    border-radius: .5rem;
    background-clip: content-box;
  }
}

.prod-item {
  @include flex;
  flex-direction: column;
  font-size: 0.8rem;
  padding: 0.5rem 0.3rem 1rem 0.5rem;
  margin: 0 auto;
}

.item-name {
  margin-top: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  color: var(--white);
  text-align: center;
}

.addCart {
  text-decoration: none;
  color: #000;
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  border-radius: 0.3rem;
  background: var(--light-burg);
  margin-top: 0.5rem;

  &:active {
    box-shadow: var(--box-shadow);
    transform: translateY(0.2rem);
  }

  &:hover {
    box-shadow: var(--box-shadow);
    background: var(--dark-grey);
    color: var(--white);
  }
}