@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    display: grid;
    place-content: center;
    height: 100vh;
    padding: 55px;
    color: #fff;
}
/* ======================== */
.scroller {
    max-width: 390px;
    padding: 10px;
    display: grid;
    grid-auto-flow: column;
    column-gap: 15px;
    overflow-x: auto;
}
.scroller::-webkit-scrollbar {
    display: none;
}
.scroller-item {
    position: relative;
    width: 100px;
    height: 100px;
    border: 4px solid #fff;
    border-radius: 50%;
}
.scroller-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.scroller-item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 15px);
    height: calc(100% + 15px);
    background-color: #F0AE00;
    border-radius: inherit;
    z-index: -1;
}